@charset "utf-8";
body {
  color: #222;
  background: #fff;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

i, strong {
  font-style: normal;
  font-weight: normal;
}

body > img:last-of-type {
  display: none;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 12px
  }
}

@media screen and (min-width: 321px) and (max-width: 360px) {
  html {
    font-size: 13px
  }
}

@media screen and (min-width: 361px) and (max-width: 375px) {
  html {
    font-size: 14px
  }
}

@media screen and (min-width: 376px) and (max-width: 420px) {
  html {
    font-size: 15px
  }
}

@media screen and (min-width: 421px) and (max-width: 500px) {
  html {
    font-size: 16px
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  html {
    font-size: 18px
  }
}

@media screen and (min-width: 601px) {
  html {
    font-size: 24px
  }
}

:-moz-placeholder {
  color: #ccc;
}

::-webkit-input-placeholder {
  color: #ccc;
}

:-ms-input-placeholder {
  color: #ccc;
}

::placeholder {
  color: #ccc;
}

button {
  border: 0;
}

.errorTips {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -3rem;
  font-size: 1.143rem;
  color: #fff;
  z-index: 100;
  text-align: center;
}

.errorTips p {
  display: inline-block;
  min-height: 3rem;
  line-height: 2rem;
  width: 80%;
  max-width: 580px;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, .8);
  border-radius: 0.5rem;
}

.actFlow {
  position: relative;
}

.actFlowBox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.actCon {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 43rem;
  .ikjLogo {
    position: absolute;
    top: (8/14)+rem;
    left: (8/14)+rem;
    z-index: 1;
    display: block;
    width: (62/14)+rem;
    height: (74/14)+rem;
  }
  .quickAnchor{
    padding: (90/14)+rem 14.4% 0;
    a{
      float: left;
      display: block;
      margin-bottom: (35/14)+rem;
      width: 36.6%;
      height: (100/14)+rem;
      &.two,&.four{
        margin-left: 22%;
      }
    }
  }
  .order {
    color: #222;
    input, select {
      margin-bottom: (10/14)+rem;
      border: 0;
      padding: (10/14)+rem;
      width: 100%;
      height: (44/14)+rem;
      border-radius: (2.5/14)+rem;
      font-size: (13/14)+rem;
      color: #222;
    }
    select {
      background: url("select.png") no-repeat right center / (9.5/14)+rem #fff;
      line-height: (24/14)+rem;
      -webkit-background-origin: content-box;
      background-origin: content-box;
    }
    button {
      display: block;
      border-radius: (2.5/14)+rem;
      width: 100%;
      height: (44/14)+rem;
      color: #db0340;
      font-size: (15/14)+rem;
      font-weight: bolder;
      background: #f8bc00;
      box-shadow: 0 (6/14)+rem 0 #dd7200;
    }
  }
  .topOrder {
    padding: 0 (38/14)+rem;
  }
  .textScollBox{
    margin-top: (16/14)+rem;
    height: (30/14)+rem;
    text-align: center;
    line-height: (15/14)+rem;
    color: #fff;
    font-size: (10/14)+rem;
    overflow: hidden;
  }
  .reviewSwiper {
    padding: 0 (15/14)+rem (30/14)+rem;
    background: #f4be16;
    .swiper-pagination {
      left: 0;
      bottom: (45/14)+rem;
      width: 100%;
      .swiper-pagination-bullet {
        width: (10/14)+rem;
        height: (2/14)+rem;
      }
    }
  }
}

.fixRightZx{
  position: fixed;
  right: (5/14)+rem;
  bottom: (100/14)+rem;
  z-index: 10;
  width: (64/14)+rem;
}
//弹框
.actPopBox{
  display: none;
  position: fixed;
  top:0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}
.actPop{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  height: 100%;
  .order{
    position: relative;
    margin-left:- (15/14)+rem;
    padding: (40/14)+rem (25/14)+rem (10/14)+rem (33/14)+rem;
    width: 91.46% ;
    max-width: (343/14)+rem;
    background: url("pop.png") no-repeat top center / 100% 100%;
    .close{
      position: absolute;
      top:(10/14)+rem;
      right: (8/14)+rem;
      display: block;
      margin: (15/14)+rem auto 0;
      width: (30/14)+rem;
      height: (30/14)+rem;
      background: url("close.png") no-repeat center center / 100% 100%;
    }
    h3{
      font-size: (21/14)+rem;
      text-align: center;
    }
    .number{
      margin-bottom: (20/14)+rem;
      text-align: center;
      span{
        margin: 0 (2/14)+rem;
        color: #ff0280;
      }
    }
    button{
      background-image: -moz-linear-gradient(top, #ff0280, #db026e);
      background-image: -webkit-linear-gradient(top, #ff0280, #db026e);
      box-shadow: 0 (6/14)+rem 0 #a0044a;
      color: #fff;
    }
    .tips{
      margin-top: (16/14)+rem;
      color: #ea6c00;
      text-align: center;
    }
  }
}

/*.copyright{ color: #d5d5d5; text-align: center; font-size: (9/14)+rem; height: (26/14)+rem; line-height: (26/14)+rem;}*/

.btnFixBottom {
  position: fixed;
  left: 0;
  bottom: -1px;
  z-index: 3;
  width: 100%;
  height: (55/14)+rem;
  box-shadow: 0 -1px (10/14)+rem rgba(0,0,0,.7);
}

.btnFixBottom .btnFixBox {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.btnFixBottom .btnFixBox a {
  display: block;
  height: (55/14)+rem;
  color: #fff;
  font-size: (19/14)+rem;
  font-weight: bolder;
  line-height: (55/14)+rem;
  background: rgba(208, 2, 70, 1);
  overflow: hidden;
}

.fixRightZx{
  display: inline-block;
  -webkit-animation: scale 0.3s ease-in-out infinite alternate;
  animation: scale 0.3s ease-in-out infinite alternate;
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(1.05);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes scale {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}


